.lettrine {
    font-size: 3em; /* taille de la lettrine */
    float: left; /* pour que le texte s'aligne correctement */
    margin-right: 0.1em; /* pour ajuster l'espace entre la lettrine et le texte */
    font-family: Georgia, serif; /* police de caractères */
    line-height: 1; /* hauteur de ligne */
}